
.carousel{
    width: 850px;
    margin: 0 auto;
    position: relative;
    
}
.prev, .next{
    border: none;
    background-color: #fff;
    position: absolute;
    top: 50%;
    transform:translatey(-50%);
    left: -66px;
}
.next{
    left: auto;
    right: -66px;
}
.tns-item img{
    display: block;
    margin: 0 auto;
}